{% extends 'base.html' %}
{% load static%}
{% load embed_video_tags %}
{% block body %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3653458732118461"
     crossorigin="anonymous"></script>
<main>
	<div class="container-fluid my-5">
		<div class="row">
			<div class="col-md-3">

				<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3653458732118461"
				crossorigin="anonymous"></script>
				<!-- vertical_ad_2 -->
				<ins class="adsbygoogle"
				style="display:block"
				data-ad-client="ca-pub-3653458732118461"
				data-ad-slot="5790161304"
				data-ad-format="auto"
				data-full-width-responsive="true"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
		
			</div>
				<div class="col-md-6">
					<h1 class="text-center">
					Free Youtube Multi Downloader Online
					</h1>
					<section class="dt-boxshadow rounded-4 bg-white p-5 my-5">
						<form method="post">
									{% csrf_token %}
									<div class="mb-3 d-flex">
										<div class="input-container-default me-2 w-100">
											<input name="url" placeholder="url for playlist or video" class="input-default" type="url" required>
										</div>
									</div>
									<div class="mb-3 d-flex justify-content-space-around">
									 <div class="form-check">
										<input class="form-check-input" onchange="toggleQOptions()" type="radio" name="vs-option" id="vs-option1" value="video" checked>
										<label class="form-check-label" for="vs-option1">
											video
										</label>
									 </div>
									 <div class="form-check">
										<input class="form-check-input" onchange="toggleQOptions()" type="radio" name="vs-option" id="vs-option2" value="sound">
										<label class="form-check-label" for="vs-option2">
											sound
										</label>
									 </div>
								</div>
								<div class="">
									<div class="input-container-default d-inline-block" id="v-quality">
										<select onclick="fixText()" id="v-quality-input" name="v-quality" class="input-default min-width-240">
											<option value="" class="t-muted">Choose Video quality <i class="bi bi-caret-down-fill"></i></option>
											<option value="144p">144p</option>
											<option value="240p">240p</option>
											<option value="360p">360p</option>
											<option value="480p">480p</option>
											<option value="720p">720p</option>
											<option value="1080p">1080p</option>
											<option value="highest">highest quailty</option>
										</select>
									</div>
									<button type="submit" class="btn btn-primary px-4 float-right my-4">Get</button>
								</div>
								
						</form>
					</section>
				
					{% if videos|length > 0 %}
						<div class="dt-boxshadow rounded-4 bg-white py-3 px-4">
					{% for video in videos %}
						{% if video.local_src %}
								<div class="card my-3 w-100">
									<div class="row g-0">
										<div class="col-md-4">
											<img src="{{video.thumbnail}}" class="img-fluid rounded-start" alt="{{video.title}}">
										</div>
										<div class="col-md-8">
											<div class="card-body h-90">
												<div class="h-90">
													<h5 class="card-title">{{video.title}}</h5>
													<p class="card-text mt-3"><a href="{{video.local_src.url}}" class="btn btn-success w-75 d-block mx-auto mx-auto">Download</a></p>
													<p class="card-text" style="padding: 10px 0px;">
														<span class="text-muted" style="font-size:14px">{{video.url}}</span>
													</p>
												</div>
												<div style="float:right">
													<div class="type-icon">
														{% if video.file_type == 1 %}

															<div class="icon-container">
																<i class="bi bi-youtube" style="color: #f00;font-size:22px"></i>
															</div>

															<div class="icon-container">
																<i class="quality-icon">{{video.quality}}</i>
															</div>
														{% elif video.file_type == 0 %}
															<i class="bi bi-file-earmark-music-fill" style="color:#1f7ef7;"></i>
														{% else %}
															<div>undefind</div>
														{% endif %}
	
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
						{% else %}
						{% endif %}
					
					{% endfor %}
					</div>
				{% endif %}
				<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3653458732118461"
						crossorigin="anonymous"></script>
				<!-- custom ad-1 -->
				<ins class="adsbygoogle"
						style="display:block"
						data-ad-client="ca-pub-3653458732118461"
						data-ad-slot="9927882710"
						data-ad-format="auto"
						data-full-width-responsive="true"></ins>
				<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
				
				</div>
					
				<div class="col-md-3">
					<div class="col-md-3"><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3653458732118461"
						crossorigin="anonymous"></script>
						<!-- vertical_ad_2 -->
						<ins class="adsbygoogle"
						style="display:block"
						data-ad-client="ca-pub-3653458732118461"
						data-ad-slot="5790161304"
						data-ad-format="auto"
						data-full-width-responsive="true"></ins>
						<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
				
					</div>
				</div>
					

		</div>
	</div>
</main>

{% endblock body %}