{% extends 'base.html' %}
{% load static%}
{% load embed_video_tags %}
{% block title %}{{user.username}}{% endblock title %}
{% block body %}

			<div class="container">
				<div class="row">
				{% if videos|length > 0 %}
					{% for video in videos %}
						{% if video.local_src %}
								<div class="card mt-5 w-100">
									<div class="row g-0">
										<div class="col-md-4">
											<img src="{{video.thumbnail}}" class="img-fluid rounded-start" alt="{{video.title}}">
										</div>
										<div class="col-md-8">
											<div class="card-body h-90">
												<div class="h-90">
													<h5 class="card-title">{{video.title}}</h5>
													{% if video.local_src %}
														<p class="card-text mt-3"><a href="{{video.local_src.url}}" class="btn btn-success w-25">Download Now</a></p>												
													{% else %}
														<p class="card-text mt-3"><a href="{{video.local_src.url}}" class="btn btn-secondary w-25">Re-Download</a></p>
													{% endif %}
													<p class="card-text" style="padding: 10px 0px;">
														<span class="text-muted" style="font-size:14px">{{video.url}}</span>
													</p>
												</div>
												<div style="float:right">
													<div class="type-icon">
														{% if video.file_type == 1 %}

															<div class="icon-container">
																<i class="bi bi-youtube" style="color: #f00;font-size:22px"></i>
															</div>

															<div class="icon-container">
																<i class="quality-icon">{{video.quality}}</i>
															</div>
														{% elif video.file_type == 0 %}
															<i class="bi bi-file-earmark-music-fill" style="color:#1f7ef7;"></i>
														{% else %}
															<div>undefind</div>
														{% endif %}
	
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
						{% else %}
						{% endif %}
					
					{% endfor %}
				{% endif %}
				</div>
			</div>
				
{% endblock body %}
