{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Register | {% endblock title %}

{% block body %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3653458732118461"
crossorigin="anonymous"></script>
<main>


<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
					
		</div>
		<div class="col-md-6 col-md-6 dt-boxshadow rounded-4 ptx my-5 bg-white">
				<h1>Register</h1>
		    <form method="POST">
				{% csrf_token %}
			<div class="row">
				
				
				<div class="col-md-6 my-2">
					<div class="input-container-default">
				    		<input  class="input-default" name="first_name" type="text" placeholder="First Name" required>
					</div>
			    	</div>
				
				<div class="col-md-6 my-2">
					<div class="input-container-default">
				    		<input  class="input-default" name="last_name" type="text" placeholder="Last Name" required>
					</div>
			    	</div>
			    
			    	<div class="col-md-12 my-2">
					<div class="input-container-default">
				    		<input  class="input-default" name="username" type="text" placeholder="Username" required>
					</div>
			    	</div>
				    
				<div class="col-md-12 my-2">
					<div class="input-container-default">
					    	<input  class="input-default" name="email" type="email" placeholder="Email" required>
					</div>
			    	</div>
				
				<div class="col-md-12 my-2">
				    <div class="input-container-default">
					<input  class="input-default" name="password" type="password" placeholder="Password" required>
				    </div>
				</div>

			    	<div class="col-md-12 my-2">
				    <div class="input-container-default">
					<input  class="input-default" name="confirm_password" type="password" placeholder="Confirm Password" required>
				    </div>
				</div>
					
				<div class="col-md-12 my-2">
				    </div>
			    <div class="col-md-12 my-2">
				<div class="submit_btn">
				    <button class="btn btn-primary w-100" type="submit">Register</button>
				</div>
			    </div>
			</div>
		    </form>
		</div>
		<div class="col-md-3">
			
	
		</div>
	</div>
</div>
</main>

{% endblock body %}